npmColor=#CB3837

*, *:before, *:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

body
  margin 0
  padding 0
  font-family 'PT Sans', 'Helvetica Neue', Helvetica

header
  // +flexibleCenteredContainer(480px)
  margin-left auto
  margin-right auto
  position relative
  min-width 320px
  max-width 480px

  img
    max-width 100%

section
  background npmColor
  color white

  #content
    margin-left auto
    margin-right auto
    position relative
    padding: 20px 20px 100px 20px
    min-width 320px
    max-width 640px

    h2
      // text-align: center
      font-size: 24px

    p
      font-size 18px
      line-height 1.4
      color rgba(255,255,255,0.8)
      a
        color white
      &.spacey
        margin: 30px 0 60px

    .footer
      p
        text-align center


    a.button
      color white
      background: darken(npmColor, 10)
      padding: 15px 20px
      margin: 0 15px
      line-height: 1
      border-radius: 6px
      text-decoration: none

    img.screenshot
      -webkit-transform translateX(-55px)
      transform translateX(-55px)
